# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [21]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key

from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [10]:
vacation_df = pd.read_csv('Weather dataframe')
vacation_df.head()

,Unnamed: 0,city,latitude,longitude,temperature,humidity,cloudiness,wind speed
0,0,ushuaia,-54.80,-68.30,278.15,56,75,75
1,1,rikitea,-23.12,-134.97,294.04,77,0,0
2,2,clyde river,70.47,-68.59,279.92,68,2,2
3,3,visby,57.64,18.30,289.35,45,0,0
4,4,budhlada,29.93,75.57,301.97,71,8,8

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [24]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)
# Store 'Lat' and 'Lng' into  locations 
locations = vacation_df[["latitude", "longitude"]].astype(float)
humidity_measure = vacation_df["humidity"].astype(float)

In [25]:

# Create a Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity_measure, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [27]:
vacation_drop = vacation_df.dropna()
vacation_drop.head()

,Unnamed: 0,city,latitude,longitude,temperature,humidity,cloudiness,wind speed
0,0,ushuaia,-54.80,-68.30,278.15,56,75,75
1,1,rikitea,-23.12,-134.97,294.04,77,0,0
2,2,clyde river,70.47,-68.59,279.92,68,2,2
3,3,visby,57.64,18.30,289.35,45,0,0
4,4,budhlada,29.93,75.57,301.97,71,8,8

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure